<div class="container">
    <div>
        <input type="text" class="form-control mt-3 col-4 mx-auto" value="" [(ngModel)]="itemObject">
        <!-- <h6 class="text-center mt-3">Details about {{itemObject.name}}</h6> -->
        <!-- <p class="text-center text-danger "><span class="text-danger"> Name of item: </span>{{itemObject.name}}</p>
        <p class="text-center text-danger "><span class="text-danger"> Price: </span>{{itemObject.price}}</p>
        <p class="text-center text-danger "><span class="text-danger"> Quantity: </span>{{itemObject.quantity}}</p>
        <p class="text-center text-danger "><span class="text-danger"> Category: </span>{{itemObject.category}}</p>
        <p class="text-center text-danger "><span class="text-danger"> Availability: </span>{{itemObject.availability}}</p> -->
    </div>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    