<div class="container">
    <div class="row">
        <div class="col-md-6 col-12 mx-auto px-3 py-3 bg-light">
            <h3 class="text-center">User Information</h3>
            <input type="text" [(ngModel)]="firstname" placeholder="First-Name" class="form-control mt-2 py-2">
            <input type="text" [(ngModel)]="lastname" placeholder="Last-Name" class="form-control mt-2 py-2">
            <input type="text" [(ngModel)]="email" placeholder="Email-Address" class="form-control mt-2 py-2">
            <input type="text" [(ngModel)]="password" placeholder="password" class="form-control mt-2 py-2">
            <button (click)="signData()" class="w-100 btn btn-primary mt-2">Signup</button>
        </div>
    </div>
    <div class="col-6 shadow">
        <div>
            <div *ngFor="let user of userArray, let id=index">
                <p>First Name: {{ user.FirstName }}</p>
                <button routerLink="/dashboard/{{id}}">View</button>
                <button>Delete</button>
                <button>Edit</button>
            </div>
        </div>
    </div>
    <div>
    </div>
    <!-- <app-state-two></app-state-two> -->
</div>
